<ul class="navbar-nav ml-auto">
  <% if current_user %>
    
    <li class="nav-item">
        <%= link_to( current_user.fullname , '#' , :class => 'nav-link')%>
    </li>
    <li class="nav-item">
        <%= link_to("Sign Out", logout_path, :class => 'nav-link', method: 'delete')%>
    </li>
  <% else %>
    <li class="nav-item">
        <%= link_to("Register", new_user_path, :class => 'nav-link')%>
    </li>
    <li class="nav-item">
        <%= link_to("Sign In", login_path, :class => 'nav-link')%>
    </li>
  <% end %>
</ul>